.center-image
{
    margin: 0 auto;
    display: block;
}

/* share links */
.share-page {
    text-align: center;
    background: $secondary-color;
    color: $light-color;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5 * $spacing-unit 0;

    a {
        font-weight: 700;
        color: #fff;
        margin-left: 10px;

        &:hover {
            border-bottom: 1px dashed #fff;
        }
    }
}

.page-header-custom {
  color: #fff;
  text-align: center;
  background-color: #445760;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #38454c;
}

.site-footer-owner {
  color: #38454c;
  font-weight: normal;
}

a { color: #38454c; text-decoration: none; }
