<div class="share-page">
    Share this on &rarr;
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.author.twitter }}&related={{ site.author.twitter }}" rel="nofollow" target="_blank" title="share on twitter">Twitter</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&title={{ page.title }}&url={{ site.url }}{{ page.url }}&summary={{ page.excerpt }}&source={{ site.url }}" rel="nofollow" target="_blank" title="share on twitter">Linkedin</a>
</div>
